.App {
  text-align: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 16px;
}

label {
  margin-bottom: 8px;
}

input,
select {
  padding: 8px;
  width: 100%;
  margin-bottom: 8px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}